@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* sessão variáveis */
:root {
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #0000;

    --primary-color: #8f0101;
    --secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat';
    color: var(--primary-color);
    font-weight: var(--title-weight);
}